.us-form {
      padding: 25px 50px 75px 50px;
  -webkit-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75); 
    border-radius: 1.25rem;
    }
  @media (max-width: 991px) {
    .us-form {
      padding: 30px; } }
.img-responsive{
  width: 100px;
}
.bg-white{
  background-color: #fff;
}
.us-form .pb_select-wrap {
  position: relative; }
  .us-form .pb_select-wrap:before {
    font-family: 'Ionicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f3d0";
    position: absolute;
    color: #222;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 26px; }
  .us-form .pb_select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

.us-form .form-control.reverse {
  background: #f2f2f2;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border-color: #f2f2f2; }
  .us-form .form-control.reverse:focus, .us-form .form-control.reverse:active {
    background: none;
    border-color: #1d82ff !important; }

.us-form .form-control-outline {
  background: none; }
  .us-form .form-control-outline:focus, .us-form .form-control-outline:active {
    background: none; }
  .us-form .form-control-outline.light {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.4); }
    .us-form .form-control-outline.light:focus, .us-form .form-control-outline.light:active {
      border-color: white; }
    .us-form .form-control-outline.light::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
   .us-form .form-control-outline.light:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .us-form .form-control-outline.light::placeholder {
      color: rgba(255, 255, 255, 0.5); }
  .us-form .form-control-outline.dark {
    color: #868e96; }

.us-form .btn:focus, .us-form .btn:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important; }

.us-form .btn-shadow-blue {
  -webkit-box-shadow:2px 5px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:2px 5px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 6px 0px rgba(0, 0, 0, 0.2); }

.us-form .pb_btn-pill {
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px; }

.us-form .terms {
    font-size: 11px;
    color: #222;
    line-height: 14px;
}
.hand-mockup .sec-ico {
    float: left;
    width: 240px;
    color: #000;
    line-height: 16px;
    margin: 10px 0px 0px 0px;
    text-align: left;

}
.hand-mockup h2{
  color: #333;
  margin-bottom: 20px;
}
.hand-mockup .sec-ico div {
    float: left;
    width: 120px;
}
.hand-mockup .sec-ico div img {
    float: left;
    margin: 0 5px 0 0;
}
.hand-mockup .sec-ico div span {
    display: block;
    padding-top:0px;
    font-size: 12px;
}
.hand-mockup .sec-ico strong {
    display: block;
}

.section2{
  padding: 50px 0px;
}
.section2 .disclaimer p{
  font-size:14px; 
  color:#999; 
  font-weight:normal; 
  display:block; 
  max-width:100%; 
  margin-top: 10px;
  text-align: center;
}

.section2 .box{
      text-align: center;
    transition: all 0.3s ease;
    padding: 30px 0px 10px;
    border-radius: 40px 40px 40px 0px;
        border: 1px solid #eff2f6;
}
.section2 .box:hover {
  transform: translateY(-3px);
    -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
            box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
}


.section2 .box .box-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 25px;
    position: relative;
}

.section2 .box .box-icon:before {
    content: "";
    background: #517dbb;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
}

.section2 .box .box-icon img {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
    background: #fff;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
    font-size: 35px;
    position: absolute;
    top: 0%;
    left: 0%;
}
.section2 .box .title {
    font-size: 20px;
    font-weight: 600;
    color: #726a84;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    position: relative;
}

.section3{
  padding: 75px 0px 100px;
      background: #f5f5f5;
}

.section3 .section-title {
    text-align: center;
    margin-bottom: 9rem;
}
.section3 .section-title h3 {
    font-size: 4rem;

    color: #444;
}
.section3 .process-step {
    position: relative;
    text-align: center;
        min-height: 270px;
    padding: 35px 25px;
        background-color:#ffffff36;
    margin-top: 30px;
    -webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
    box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
    transition: all 0.3s ease;

}
.section3 .process-step:hover {
  transform: translateY(-3px);
}
.section3 .process-step .process-icon {
    height: 55px;
    margin-bottom: 20px;
    padding-top: 5px;
}
.section3 .process-step p {
    margin-bottom: 0;
        font-size: 15px;
}
.section3 .process-step h4 {
        font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: bold;
}
.section3 .process-step:after {
    position: absolute;
    content: '';
    width: 275px;
    height: 56px;
    top: -40px;
    right: -60%;
    background: url(images/process-line.png) no-repeat scroll 0 0/cover;
}
.process:last-child .process-step:after {
  display: none;
}
.section4{
      padding: 100px 0px 50px;
  position: relative;
    overflow: hidden;
}

.section4 .area-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.section4 .area-bg::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.section4 .area-bg::before {
    background: #517dbb none repeat scroll 0 0;
}
.section4 .area-bg::after,.section4 .area-bg::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.section4 .col-lg-offset-7 {
    margin-left: 63.33333333%;
}

.section4 .area-bg::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.section4 .area-bg {
    background: rgba(0, 0, 0, 0) url("images/bg1.jpg") no-repeat scroll center top / cover;
}

.section4 .area-bg::after {
    background: rgba(0, 0, 0, 0) linear-gradient(120deg, transparent 50%, #0e284e 50%) repeat scroll 0 0
}
.section4 h2{
      font-size:2.5rem;
    color: #fff;
}
.section4 p{
    color: #fff;
}
 .section4 .points-list {
    margin-bottom: 20px;
}
 .section4 .points-list .icon {
    float: left;
}
.section4  .points-list i {
    font-size: 14px;
        color: #fff;
}
 .section4 .points-list .description {
    margin-left: 20px;
    line-height: 24px;
    margin-bottom: 0;
}
.section4 .pull-right{
  text-align: right;
}
.btn-fb {
    background-color: #3b5998!important;
    color: #fff!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-tw {
    background-color: #55acee!important;
    color: #fff!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.section4 .counter {
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-left: -15px;
    -webkit-border-radius: 10em;
    border-radius: 10em;
    padding: 1px 4px;
    margin-top: -10px;
    background-color: #c30d00;
    font-size: 11px;
    color: #fff;
    left: auto;
}
.section5{
  padding: 75px;
  background: #f5f5f5;
}
.section5 .section-title {
    text-align: center;
}
.section5 .section-title h3 {
    font-size: 1.75rem;

    color: #444;
}
.customer-notice-wrap{
  margin: 0 auto;
}
.customer-notice {
    margin: 0 auto;
}
.btn-cash {
    background-color: #0e284e !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: #fff;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 900;
    margin: 20px 0px;
}

/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#0e284e ; min-height:250px; padding:10px 0px 15px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border {     border-bottom: 1px solid #244b844a; padding-bottom:20px;}
.foote_bottom_ul_amrc {
  list-style-type:none;
  padding:0px;
  display:table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:0px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:3px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.white-logo{
    padding-top: 2.3rem;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
.process-step:after {
    width: 154px;
    height: 35px;
    top: -10px;
    right: -44%;
    background-size: contain;
  }
}

@media only screen and (max-width: 767px) {
  .process-step:after {
    display: none;
  }
 }